.tablero{
    width: 70vw;
    height: 100vh;
    background-color: bisque;

    display: grid;

    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin: auto;
}
.item{
    background-color: blueviolet;
}