.tablero{
    margin: 0 auto;
    width: 50vw;
    height: 100vh;
    background-color: bisque;
    

    display: grid;
    
    grid-template-columns:repeat(3,1fr); 
    grid-template-rows: repeat(3,1fr);
    grid-gap: 0.5rem;
    padding: 0.5rem;

    
}
.item{
    background-color: blueviolet;
    border-radius: 1rem;
}