
.contenedor,.contenedor2{
    margin: auto;
    display: flex;
    width: 500px;
    height: 150px;
    background: rgb(42, 223, 177);
    margin-bottom: 1em ;
}
.contenedor{
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.contenedor2{
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-end;
}
.contenido{
    width: 18%;
    background-color: rgb(231, 104, 19);
    text-align: center;
}