*{
    margin:0px 10px 0px 10px;
}
h1{
    padding: 0.5em;
    border: 2px solid blue;
    margin-top:1em;
    margin-bottom:1em;
}
h2{
    border: 2px solid grey;
    padding-left: 0.5em;
    margin:0.75em 0em 0.75em 0em;
}
ul{
    border : 2px solid lime;
    
}
li+li{
    margin: 1em;
}
li:last-child{
    margin: 0em;
}

